<table>
  <tr>
    <th>Razão Social</th>
    <th>Endereço</th>
    <th>Bairro</th>
    <th>Cidade</th>
    <th>Estado</th>
  </tr>
  <tr>
    <td><%= @company.company_name %></td>
    <td><%= @company.address %></td>
    <td><%= @company.district %></td>
    <td><%= @company.city %></td>
    <td><%= @company.state %></td>
  </tr>
</table>
